  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{{ url_for('static', filename='jquery.matchHeight-min.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <script>
          M.toast(
            {
              html: '{{ message }}',
              displayLength: 3000
            }
          )
        </script>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </body>
</html>