<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <title>{{title}}</title>
  </head>
  <body>
    <header {% if request.path == "/" %}class="main-header"{% endif %}>
      {% if request.path == "/" %}
      <div class="header-img">
        <img data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="100" class="img-fluid" src="{{ url_for('static', filename='img/01.png') }}" alt="">
      </div>
      {% endif %}
      <nav class="{% if request.path == '/' %}transparent{% else %}purple darken-4{% endif %}">
        <div class="nav-wrapper container">
          <a href="{{ url_for('home') }}" class="brand-logo">e-Tutor</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">{% if request.path == "/" %}<i class="material-icons nav-active">chevron_right</i>{% endif %}Home</a></li>
            <li><a href="{{ url_for('universities') }}">{% if request.path == "/universities" %}<i class="material-icons nav-active">chevron_right</i>{% endif %}Universities</a></li>
            <li><a href="{{ url_for('courses') }}">{% if request.path == "/courses" %}<i class="material-icons nav-active">chevron_right</i>{% endif %}Courses</a></li>
            <li><a href="{{ url_for('contact') }}">{% if request.path == "/contact" %}<i class="material-icons nav-active">chevron_right</i>{% endif %}Contact</a></li>
            <li><a href="{{ url_for('about') }}">{% if request.path == "/about" %}<i class="material-icons nav-active">chevron_right</i>{% endif %}About</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for(current_user.role) }}" class="waves-effect waves-light btn primary-gr">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}" class="waves-effect waves-light btn secondary-gr">Logout</a></li>
            {% else %}
            <li {% if request.path == "/login/student" or request.path == "/login/instructor" %}class="active"{% endif %}>
              <a class="dropdown-trigger waves-effect waves-white btn-flat white-text" data-target="drop_login">Login</a>
              <ul id='drop_login' class='dropdown-content'>
                <li><a href="{{ url_for('loginStudent') }}">Student</a></li>
                <li><a href="{{ url_for('loginInstructor') }}">Instructor</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-trigger waves-effect waves-light btn secondary-gr" data-target="drop_register">Register</a>
              <ul id='drop_register' class='dropdown-content'>
                <li><a href="{{ url_for('registerStudent') }}">Student</a></li>
                <li><a href="{{ url_for('registerInstructor') }}">Instructor</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% if request.path == "/" %}
        {% include '/hero.html' %}
      {% endif %}
    </header>

