{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col s8 push-s2 mt-4">
      <div data-aos="zoom-in" style="width: 60%; margin: 0 auto" class="c-img">
        <img
          class="z-depth-3"
          width="100%"
          style="border-radius: 8px"
          src="/static/uploades/images/{{course.photo}}"
          alt=""
        />
      </div>
      <div
        style="margin-top: -5rem; text-align: center"
        class="card-panel z-depth-2"
      >
        <h4 class="mt-4">{{course.courseName}}</h4>
        <a
          href="{{ url_for('applyCourse', course_id=course.id) }}"
          class="waves-effect waves-light btn btn-large primary-gr"
          >Apply now</a
        >
        <table class="centered striped">
          <thead>
            <tr>
              <th>Duration</th>
              <td>{{course.duration}}</td>
            </tr>
            <tr>
              <th>Course Fee</th>
              <td>{{course.courseFee}}</td>
            </tr>
            <tr>
              <th>Course Type</th>
              <td>{{course.coursetype}}</td>
            </tr>
            <tr>
              <th>Eligiblity</th>
              <td>{{course.eligiblity}}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{course.description}}</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="col s12">
      {% if course %} {% for course in Courses %}
      <div class="col xl3 l4 m6 s12">
        <div class="card course-card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img
              class="activator"
              src="/static/uploades/images/{{course.photo}}"
            />
          </div>
          <div class="card-header card-content">
            <span>{{course.coursetype}}</span>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4"
              >{{course.courseName}}</span
            >
            <p>Duration: {{course.duration}}</p>
          </div>
          <div class="card-action center-align">
            <a href="{{url_for ('coursePage',id=course.id)}}">View course</a>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <h4 class="center-align">No course found !</h4>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
