<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col xl6 l6 m9 valign-wrapper">
        <div class="hero-content">
          <div class="hero-caption">
            <div
              data-aos="fade-right"
              data-aos-duration="800"
              data-aos-delay="200"
            >
              <span>Develop your career with e-Tutor</span>
            </div>
            <h2 data-aos="zoom-out" data-aos-duration="1000" class="mb-3">
              More than 1200 Online Courses
            </h2>
          </div>
          <form method="POST" class="hero-search-form">
            {{ form.hidden_tag() }}
            <div
              data-aos="fade-down"
              data-aos-duration="800"
              data-aos-delay="200"
            >
              {{ form.search(class="validate") }}
              <button
                type="submit"
                class="waves-effect waves-light btn-large light-blue darken-1"
              >
                <i class="material-icons right">search</i>Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
