{% extends "layout.html" %}
{% block content %}
<div class="container">
  <section class="features">
    <div class="container-bg">
      <div class="row feature-row">
        <div
          class="col xl3 l3 m6 s12 mb-2 feature-col"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="100"
        >
          <div class="card hoverable">
            <div class="card-icon mt-2">
              <img
                src="{{ url_for('static', filename='img/job.png')}}"
                alt=""
              />
            </div>
            <div class="card-content">
              <span class="card-title">Career Upgrade</span>
              <p>
                Enhance your professional and academic CV as you travel the
                world
              </p>
            </div>
          </div>
        </div>
        <div
          class="col xl3 l3 m6 s12 mb-2 feature-col"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="300"
        >
          <div class="card hoverable">
            <div class="card-icon mt-2">
              <img
                src="{{ url_for('static', filename='img/book.png')}}"
                alt=""
              />
            </div>
            <div class="card-content">
              <span class="card-title">Teaching Materials</span>
              <p>Use modern learning materials for over 15 language courses</p>
            </div>
          </div>
        </div>
        <div
          class="col xl3 l3 m6 s12 mb-2 feature-col"
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="400"
        >
          <div class="card hoverable">
            <div class="card-icon mt-2">
              <img
                src="{{ url_for('static', filename='img/certificate.png')}}"
                alt=""
              />
            </div>
            <div class="card-content">
              <span class="card-title">Certification</span>
              <p>Get certification from a respected universities</p>
            </div>
          </div>
        </div>
        <div
          class="col xl3 l3 m6 s12 mb-2 feature-col"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="200"
        >
          <div class="card hoverable">
            <div class="card-icon mt-2">
              <img
                src="{{ url_for('static', filename='img/teacher.png')}}"
                alt=""
              />
            </div>
            <div class="card-content">
              <span class="card-title">Expert Instructors</span>
              <p>Use modern learning materials for over 15 language courses</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
