{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s8 push-s2 mt-4">
            <div data-aos="zoom-in" style="width: 60%; margin: 0 auto;" class="c-img">
                <img class="z-depth-3" width="100%" style="border-radius: 8px;" src="/static/uploades/images/{{instructor.photo}}" alt="">
            </div>
            <div style="margin-top: -5rem; text-align: center;" class="card-panel z-depth-2">
                <h4 class="mt-4">{{instructor.firstName}} {{instructor.lastName}}</h4>
                <table class="centered striped inst-table">
                    <thead>
                    <tr>
                        <th style="width: 50%;">Title</th>
                        <td>{{instructor.title}}</td>
                    </tr>
                    <tr>
                        <th>Qualification</th>
                        <td>{{instructor.qualification}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{instructor.phonenumber}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{instructor.email}}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{instructor.gender}}</td>
                    </tr>
                    <tr>
                        <th>Date of birth</th>
                        <td>{{instructor.dateofBirth}}</td>
                    </tr>
                    <tr>
                        <th>About</th>
                        <td>{{instructor.about}}</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}