{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 xl6 push-m3 push-l3 push-xl3">
      <div class="center valign-wrapper">
        <div class="card-panel login-frm mt-2">
          <h4 class="center-align mb-3 title">
            Student Register
          </h4>
          <form class="center-align" method="POST" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{ form.firstName(class="validate") }}
                    {% if form.firstName.errors %}
                      {% for error in form.firstName.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.firstName.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{ form.lastName(class="validate") }}
                    {% if form.lastName.errors %}
                      {% for error in form.lastName.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {{ form.lastName.label }}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field mb-2">
                  {{ form. qualification(class="validate") }}
                  {% if form. qualification.errors %}
                    {% for error in form. qualification.errors %}
                      <span class="red-text error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                {{ form.qualification.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{ form. gender(class="validate") }}
                  {% if form. gender.errors %}
                    {% for error in form. gender.errors %}
                      <span class="red-text error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                  {{ form.gender.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{ form.email(class="validate") }}
                {% if form.email.errors %}
                  {% for error in form.email.errors %}
                    <span class="red-text error">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                {{ form.email.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{ form.phonenumber(class="validate") }}
                {% if form.phonenumber.errors %}
                  {% for error in form.phonenumber.errors %}
                    <span class="red-text error">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                {{ form.phonenumber.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{ form.dateofBirth(class="validate datepicker") }}
                {% if form.dateofBirth.errors %}
                  {% for error in form.dateofBirth.errors %}
                    <span class="red-text error">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                {{ form.dateofBirth.label }}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field file-field mb-2">
                  <div class="btn primary-gr">
                    <span>Photo</span>
                    {{form.photo(accept="image/x-png,image/gif,image/jpeg")}}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                  {% if form.photo.errors %}
                    {% for error in form.photo.errors %}
                      <span class="red-text error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="col s12">
                <div class="input-field file-field mb-2">
                  <div class="btn primary-gr">
                    <span>Certificate</span>
                    {{form.certificate(accept=".pdf, .doc")}}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload certificate only pdf doc">
                  </div>
                  {% if form.certificate.errors %}
                    {% for error in form.certificate.errors %}
                      <span class="red-text error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{ form.password(class="validate") }}
                {% if form.password.errors %}
                  {% for error in form.password.errors %}
                    <span class="red-text error">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                {{ form.password.label }}
                </div>
              </div>
              <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                <div class="input-field mb-2">
                  {{ form.confirmPassword(class="validate") }}
                  {% if form.confirmPassword.errors %}
                    {% for error in form.confirmPassword.errors %}
                      <span class="red-text error">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                  {{ form.confirmPassword.label }}
                </div>
              </div>
              <div class="col s12 xl10 l12 push-xl1">
                <div class="col s6">
                  <p class="mb-2 grey-text grey-darken-1">
                    Have an account? <a href="#">Login</a>
                  </p>
                </div>
                <div class="col s6">
                  <p class="mb-2">
                    <a href="#">Terms of Use</a>
                  </p>
                </div>
              </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn-large primary-gr">
              <i class="material-icons right">check</i>Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}