{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 style="text-transform: capitalize;" class="center-align">Search / {{sname}}</h1>
    <section>
        <div class="row">
            {% for c in course %}
            <div class="col xl3 l4 m6 s12" data-aos="fade-up">
                <div class="card course-card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/static/uploades/images/{{c.photo}}" />
                    </div>
                    <div class="card-header card-content">
                        <span>{{c.coursetype}}</span>
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">{{c.courseName}}</span>
                        <a href={{url_for('universityPage', id=c.univ.id)}}
                            class="subtitle blue-text">{{c.univ.universityname}}</a>
                    </div>
                    <div class="card-action center-align">
                        <a href="#">View course</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}