{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h1 class="center-align">Universities</h1>
    <section>
      <div class="row">
        {% include 'components/university.html' %}
      </div>
    </section>
  </div>
{% endblock %}