{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s8 push-s2 mt-4">
            <div data-aos="zoom-in" style="width: 60%; margin: 0 auto;" class="c-img">
                <img class="z-depth-3" width="100%" style="border-radius: 8px;" src="/static/uploades/images/{{uni.photo}}" alt="">
            </div>
            <div style="margin-top: -5rem; text-align: center;" class="card-panel z-depth-2">
                <h4 class="mt-4">{{uni.universityname}}</h4>
                <table class="centered striped">
                    <thead>
                      <tr>
                          <th style="width: 50%;">Email</th>
                          <td class="centered">{{uni.email}}</td>
                      </tr>
                      <tr>
                        <th>Phone</th>
                        <td>{{uni.phone}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{uni.address1}}, {{uni.address2}}</td>
                    </tr>
                    <tr>
                        <th>District</th>
                        <td>{{uni.district}}</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{uni.state}}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{uni.country}}</td>
                    </tr>
                    <tr>
                        <th>Pincode</th>
                        <td>{{uni.pincode}}</td>
                    </tr>
                    <tr>
                        <th>About</th>
                        <td>{{uni.description}}</td>
                    </tr>
                    </thead>
                  </table>
            </div>
        </div>
        <div class="col s12">
            <h1 class="center-align">Courses</h1>
            {% if course %}
                {% for c in course %}
                <div class="col xl3 l4 m6 s12">
                    <div class="card course-card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img
                            class="activator"
                            src="/static/uploades/images/{{c.photo}}"
                        />
                        </div>
                        <div class="card-header card-content">
                        <span>{{c.coursetype}}</span>
                        </div>
                        <div class="card-content">
                        <span class="card-title grey-text text-darken-4"
                            >{{c.courseName}}</span
                        >
                        <p>Duration: {{c.duration}}</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{url_for ('coursePage',id=c.id)}}">View course</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h4 class="center-align">No course found !</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}