{% extends "/admin/layout.html" %} {% block content %}
<div id="layoutSidenav">
  <div
    class="modal fade"
    id="uni-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            {{course.courseName}}
          </h5>
        </div>
        <div class="modal-body">Are you sure want to delete ?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <a
            href="{{url_for('deleteCourse', id=course.id)}}"
            type="button"
            class="btn btn-danger"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="inst-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            {{course.courseName}}
          </h5>
        </div>
        <div class="modal-body">
          <form action="" method="POST">
            <div class="form-group">
              <label for="instructor">Select instructor to assign</label>
              <select class="form-control" id="instructor">
                {% for i in inst %}
                <option value="{{i.id}}">{{i.firstName}} {{i.lastName}}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <a
            href="{{url_for('deleteCourse', id=course.id)}}"
            type="button"
            class="btn btn-info"
            >Assign</a
          >
        </div>
      </div>
    </div>
  </div>
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Admin</div>
          <a class="nav-link" href="{{ url_for('admin') }}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Dashboard
          </a>
          <div style="margin: 10px; text-align: center">
            <a
              href="{{url_for('addCourse')}}"
              style="width: 100%"
              type="button"
              class="btn btn-primary"
              >Add Course</a
            >
          </div>
          <div style="margin: 10px; text-align: center">
            <a
              href="{{url_for('addUniversities')}}"
              style="width: 100%"
              type="button"
              class="btn btn-success"
              >Add University</a
            >
          </div>
          <div class="sb-sidenav-menu-heading">Manage</div>
          <a class="nav-link" href="{{url_for('adminCourses')}}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-angle-right"></i>
            </div>
            Courses
          </a>
          <a class="nav-link" href="{{url_for('adminUniversities')}}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-angle-right"></i>
            </div>
            Universities
          </a>
          <a class="nav-link" href="{{url_for('adminInstructors')}}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-angle-right"></i>
            </div>
            Instructors
          </a>
          <a class="nav-link" href="{{url_for('adminStudents')}}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-angle-right"></i>
            </div>
            Students
          </a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Admin
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">{{course.courseName}}</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">
            Dashboard / Courses / {{course.id}}
          </li>
        </ol>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Courses
          </div>
          <div class="row">
            <div class="col-6">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    style="text-align: center"
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th style="padding: 1.5rem 0" colspan="2">
                          <img
                            width="80%"
                            src="/static/uploades/images/{{course.photo}}"
                            style="
                              border-radius: 8px;
                              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                                0 3px 6px rgba(0, 0, 0, 0.23);
                            "
                            alt="{{course.name}}"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th style="width: 30%">Course Id</th>
                        <td>{{course.id}}</td>
                      </tr>
                      <tr>
                        <th>Course Name</th>
                        <td>{{course.courseName}}</td>
                      </tr>
                      <tr>
                        <th>University</th>
                        <td>{{course.univ.universityname}}</td>
                      </tr>
                      <tr>
                        <th>Duration</th>
                        <td>{{course.duration}}</td>
                      </tr>
                      <tr>
                        <th>Fee</th>
                        <td>{{course.courseFee}}</td>
                      </tr>
                      <tr>
                        <th>Course Type</th>
                        <td>{{course.coursetype}}</td>
                      </tr>
                      <tr>
                        <th>Eligiblity</th>
                        <td>{{course.eligiblity}}</td>
                      </tr>
                      <tr>
                        <th>Description</th>
                        <td>{{course.description}}</td>
                      </tr>
                      <tr>
                        <th colspan="2">
                          <button
                            type="button"
                            data-toggle="modal"
                            data-target="#uni-modal"
                            class="btn btn-danger"
                          >
                            <i class="fas fa-trash-alt"></i> Delete
                          </button>
                          <a href="#" type="button" class="btn btn-warning"
                            ><i class="fas fa-pencil-alt"></i> Edit</a
                          >
                          <button
                            type="button"
                            data-toggle="modal"
                            data-target="#inst-modal"
                            class="btn btn-info"
                          >
                            <i class="fas fa-user-graduate"></i> Assign
                            Instructor
                          </button>
                        </th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include '/admin/footer.html' %}
  </div>
</div>
{% endblock %}
