{% extends "/admin/layout.html" %}
{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" href="{{ url_for('admin') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div style="margin:10px; text-align: center">
                        <a href="{{url_for('addCourse')}}" style="width: 100%;" type="button" class="btn btn-primary">Add Course</a>
                    </div>
                    <div style="margin:10px; text-align: center">
                        <a href="{{url_for('addUniversities')}}" style="width: 100%;" type="button" class="btn btn-success">Add University</a>
                    </div>
                    <div class="sb-sidenav-menu-heading">Manage</div>
                    <a class="nav-link" href="{{url_for('adminCourses')}}">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-right"></i></div>
                        Courses
                    </a>
                    <a class="nav-link" href="{{url_for('adminUniversities')}}">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-right"></i></div>
                        Universities
                    </a>
                    <a class="nav-link" href="{{url_for('adminInstructors')}}">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-right"></i></div>
                        Instructors
                    </a>
                    <a class="nav-link" href="{{url_for('adminStudents')}}">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-right"></i></div>
                        Students
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Admin
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Students</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard / Student/li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Students
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style="text-align: center;" class="table table-bordered" id="dataTable" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Student id</th>
                                        <th>Student name</th>
                                        <th>Gender</th>
                                        <th>Date of birth</th>
                                        <th>Qualifications</th>
                                        <th>Manage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in student %}
                                    <tr>
                                        <td>{{s.id}}</td>
                                        <td>{{s.firstName}} {{s.lastName}}</td>
                                        <td>{{s.gender}}</td>
                                        <td>{{s.dateofBirth}}</td>
                                        <td>{{s.qualification}}</td>
                                        <td><a href="{{url_for('viewStudent', id=s.id)}}" type="button" class="btn btn-primary btn-sm">View</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include '/admin/footer.html' %}
    </div>
</div>
{% endblock %}