{% for c in courses %}
<div class="col xl3 l4 m6 s12" data-aos="fade-up">
  <div class="card course-card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img
        class="activator"
        src="/static/uploades/images/{{c.photo}}"
      />
    </div>
    <div class="card-header card-content">
      <span>{{c.coursetype}}</span>
    </div>
    <div class="card-content">
      <span class="card-title grey-text text-darken-4"
        >{{c.courseName}}</span
      >
      <p><a  href="{{url_for('universityPage', id=c.univ.id)}}" class="subtitle blue-text">{{c.univ.universityname}}</a></p>
      <p>Instructor: <a  href="{{url_for('instructorPage', id=1)}}" class="subtitle blue-text">{{c.inst.firstName}} {{c.inst.lastName}}</a></p>
    </div>
    <div class="card-action center-align">
      <a href="{{url_for ('coursePage',id=c.id)}}">View course</a>
    </div>
  </div>
</div>
{% endfor %}
