{% for u in university %}
<div class="col xl3 l4 m6 s12 univ-col mb-2" data-aos="fade-up">
  <div style="height: 100%;" class="card course-card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img
        class="activator"
        src="/static/uploades/images/{{u.photo}}"
      />
    </div>
    <div class="card-content">
      <span class="card-title grey-text text-darken-4"
        >{{u.universityname}}</span
      >
      <p class="subtitle">{{u.district}}</p>
      <p class="subtitle">{{u.phone}}</p>
      <a style="margin-top: 1rem;" href={{url_for('universityPage', id=u.id)}} class="waves-effect waves-light btn primary-gr">Kow more</a>
    </div>
  </div>
</div>
{% endfor %}