{% extends "layout.html" %} {% block content %}
<div class="container">
  <h1 class="center-align">
    {{ current_user.firstName }} {{ current_user.lastName}}
  </h1>
  <div class="row mt-2">
    <div class="col s8 offset-s2">
      <ul class="tabs">
        <li class="tab col s4 offset-s2">
          <a href="#test5" class="active"><b>Applied Jobs</b></a>
        </li>
        <li class="tab col s4">
          <a href="#test6"><b>My Profile</b></a>
        </li>
      </ul>
    </div>

    <div id="test5" class="col s12 mt-2">
      {% for c in current_user.courses %}
        <div class="col xl3 l4 m6 s12" data-aos="fade-up">
        <div class="card course-card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img
              class="activator"
              src="/static/uploades/images/{{c.photo}}"
            />
          </div>
          <div class="card-header card-content">
            <span>{{c.coursetype}}</span>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4"
              >{{c.courseName}}</span
            >
            <p><a  href="{{url_for('universityPage', id=c.univ.id)}}" class="subtitle blue-text">{{c.univ.universityname}}</a></p>
            <p>Instructor: <a  href="{{url_for('instructorPage', id=1)}}" class="subtitle blue-text">{{c.inst.firstName}} {{c.inst.lastName}}</a></p>
          </div>
          <div class="card-action center-align">
            <a href="{{url_for ('coursePage',id=c.id)}}">View course</a>
          </div>
        </div>
      </div>
      {% endfor %}>
    </div>
    
    <div id="test6" class="col s6 offset-s3 mt-2">
      <div class="card">
        <table style="text-align: center;" class="table table-bordered centered" id="dataTable" width="100%"
          cellspacing="0">
          <thead>
            <tr>
              <th colspan="2">
                <div>
                  <img style="height: 150px;" class="rounded" src="/static/uploades/images/{{current_user.photo}}"
                    alt="">
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="emp-table">
            <tr>
              <th>Name</th>
              <td>{{current_user.firstName}} {{current_user.lastName}}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{current_user.gender}}</td>
            </tr>
            <tr>
              <th>Date of birth</th>
              <td>{{current_user.dateofBirth}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{current_user.email}}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>{{current_user.phonenumber}}</td>
            </tr>
            <tr>
              <th>Qualification</th>
              <td>{{current_user.qualification}}</td>
            </tr>
            <tr>
              <th>CV</th>
              <td><a href="/static/uploades/files/{{ current_user.certificate }}" target="_blank" class="blue-text">{{ current_user.certificate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
