@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: #7b1fa2;
  --primary-gradient: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
  --secondary-gradient: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
  --info-gradient: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%);
  --primary-gradient-tr: linear-gradient(
    135deg,
    rgba(205, 159, 252, 0.2) 10%,
    rgba(114, 103, 240, 0.1) 100%
  );
  --primary-color-tr: rgba(123, 31, 162, 0.5);
  --primary-color-dark: #6a1b9a;
  --color-text-main: #280c4d;
  --color-text-main-light: rgba(32, 8, 63, 0.6);
  --color-white: #ffffff;
  --color-medium: #797979;
}

* {
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.dropdown-content {
  border-radius: 6px;
}

.btn, .btn-large {
  border-radius: 6px !important;
  font-weight: 500;
}

nav ul li a {
  /* color: var(--color-text-main); */
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.nav-active {
  bottom: 0;
  position: absolute;
  left: -6px;
}

.secondary-gr {
  background-image: var(--secondary-gradient) !important;
  background: none;
}

.primary-gr {
  background-image: var(--primary-gradient) !important;
  background: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card-panel,
.card {
  /* min-width: 350px !important; */
  border-radius: 6px;
  overflow: auto;
}

.dropdown-content > li > a {
  color: var(--primary-color) !important;
}

.datepicker-date-display {
  background-color: none;
  background-image: var(--primary-gradient);
}
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: var(--primary-color);
}

.datepicker-table td.is-selected {
  background-color: none;
  background-image: var(--primary-gradient);
}

.datepicker-day-button:focus {
  background-color: var(--primary-color-tr);
}

.datepicker-table td.is-today {
  color: var(--primary-color);
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: var(--primary-color);
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid var(--primary-color-dark) !important;
  background-color: var(--primary-color) !important;
}

input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--primary-color) !important;
  -webkit-box-shadow: 0 1px 0 0 var(--primary-color) !important;
  box-shadow: 0 1px 0 0 var(--primary-color) !important;
}

input:not(.browser-default):focus:not([readonly]) + label {
  color: var(--primary-color) !important;
}

.error {
  font-size: 12px;
  float: left;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2.2rem;
}

.mb-3 {
  margin-bottom: 3.3rem;
}

.mb-4 {
  margin-bottom: 5.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2.2rem;
}

.mt-3 {
  margin-top: 3.3rem;
}

.mt-4 {
  margin-top: 5.5rem;
}

@media only screen and (max-width: 410px) {
  .card-panel {
    min-width: 330px !important;
  }
}
