.center {
  min-height: calc(100vh - 84px) !important;
}

.login-frm {
  width: 100%
}

.main-header {
  background-image: url("./img/header-bg-gr.svg");
  background-color: #f0f6ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  overflow: hidden !important;
  height: 80vh;
}

.main-header nav {
  box-shadow: none !important;
}

.main-header .brand-logo {
  color: var(--color-text-main);
  font-weight: 600;
}

.wrapper {
  height: calc(100% - 128px);
}

.wrapper .container,
.row,
.col {
  height: 100%;
}

.hero-content {
  position: relative;
  width: 100% !important;
}

.hero-search-form {
  position: relative;
}

.hero-search-form input {
  width: 100% !important;
  height: 90px !important;
  border: none !important;
  padding: 0 35px !important;
  font-size: 20px !important;
  color: var(--color-text-main) !important;
  font-weight: 500 !important;
  box-sizing: border-box !important;
  background-image: var(--primary-gradient-tr);
  border-radius: 6px !important;
}

.hero-search-form input::placeholder {
  color: var(--color-medium);
}

.hero-search-form button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: 0;
  height: 66px;
  width: auto;
  line-height: 66px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px !important;
  background-image: var(--primary-gradient);
}

.hero-caption span {
  font-size: 18px;
}

.hero-caption h2 {
  color: var(--color-text-main);
  font-size: 80px;
  margin-top: 18px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.3px;
}

.header-img {
  position: absolute;
  top: 64px;
  right: 0;
  width: 50%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.features {
  position: relative;
}

.container-bg {
  margin-top: -4rem;
}

.container-bg .row .col .card {
  text-align: center;
  height: 100%;
}

.feature-col .card .card-content p {
  color: var(--color-medium);
}

.card-icon img {
  height: 64px;
  width: 64px;
}

.course-card .card-title {
  font-size: 20px;
  font-weight: 500;
}

.course-card .subtitle {
  color: var(--color-medium);
}

.card-header {
  padding-bottom: 0 !important;
}

.card-content {
  padding-top: 20px !important;
}

.card-header span {
  background-image: var(--info-gradient);
  padding: 5px 10px;
  border-radius:20px;
  color: var(--color-white);
}

.card-header .rating {
  float: right;
}

.card-header .rating img {
  width: 18px;
  height: 18px;
}

.card-action a {
  color: var(--primary-color-dark) !important;
}
