{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h1 class="center-align">{{current_user.firstName}} {{current_user.lastName}}</h1>
    <div class="row mt-2">
      <div class="col s12">
        <ul class="tabs">
          <!-- <li class="tab col s4"><a class="active" href="#test2"><b>Students</b></a></li> -->
          <li class="tab col s4 offset-s2"><a href="#test3"><b>Courses</b></a></li>
          <li class="tab col s4 offset-s2"><a href="#test4"><b>My Profile</b></a></li>
        </ul>
      </div>
      <!-- <div id="test2" class="col s12">Test 2</div> -->
      <div id="test3" class="col s12 mt-2">
          {% for c in current_user.course %}
            <div class="col xl3 l4 m6 s12" data-aos="fade-up">
                <div class="card course-card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img
                    class="activator"
                    src="/static/uploades/images/{{c.photo}}"
                    />
                </div>
                <div class="card-header card-content">
                    <span>{{c.coursetype}}</span>
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4"
                    >{{c.courseName}}</span
                    >
                    <p><a  href="{{url_for('universityPage', id=c.univ.id)}}" class="subtitle blue-text">{{c.univ.universityname}}</a></p>
                    <p>Instructor: <a  href="{{url_for('instructorPage', id=1)}}" class="subtitle blue-text">{{c.inst.firstName}} {{c.inst.lastName}}</a></p>
                </div>
                <div class="card-action center-align">
                    <a href="{{url_for ('coursePage',id=c.id)}}">View course</a>
                </div>
                </div>
            </div>
        {% endfor %}
      </div>
      <div id="test4" class="col s12 mt-2">
        <div class="col-6">
          <div class="card-body">
              <div class="table-responsive">
                  <table style="text-align: center;" class="table table-bordered" id="dataTable"
                      width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th style="padding: 1.5rem 0;" colspan="2">
                                  <img style="border-radius: 8px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);" width="150px" src="/static/uploades/images/{{current_user.photo}}" alt="">
                              </th>
                          </tr>
                          <tr>
                              <th>Id</th>
                              <td>{{current_user.id}}</td>
                          </tr>
                          <tr>
                              <th>Gender</th>
                              <td>{{current_user.gender}}</td>
                          </tr>
                          <tr>
                              <th>about</th>
                              <td>{{current_user.dateofBirth}}</td>
                          </tr>
                          <tr>
                              <th>Qualification</th>
                              <td>{{current_user.qualification}}</td>
                          </tr>
                          <tr>
                              <th>Phonenumber</th>
                              <td>{{current_user.phonenumber}}</td>
                          </tr>
                          <tr>
                              <th>Email </th>
                              <td>{{current_user.email }}</td>
                          </tr>
                          <tr>
                              <th>Title</th>
                              <td>{{current_user.title}}</td>
                          </tr>
                          <tr>
                              <th>About</th>
                              <td>{{current_user.about}}</td>
                          </tr>
                          <tr>
                              <th style="padding: 1.5rem 0;" colspan="2">
                                  <button type="button" data-toggle="modal" data-target="#uni-modal" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                                  <a href="#" type="button" class="btn btn-warning"><i class="fas fa-pencil-alt"></i> Edit</a>
                              </th>
                          </tr>
                      </thead>
                  </table>
              </div>
          </div>
      </div>
  </div>
      </div>
    </div>
  </div>
{% endblock %}