{% extends "layout.html" %}
{% block content %}
  <div class="input-field mb-2">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6 xl6 push-m3 push-l3 push-xl3">
          <div class="center valign-wrapper">
            <div class="card-panel login-frm">
              <h4 class="center-align mb-3 title">Add course</h4>
              <form class="center-align" method="POST" enctype="multipart/form-data" novalidate  autocomplete="off">
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                    <div class="input-field mb-2">
                      {{ form.course_name(class="validate") }}
                        {% if form.course_name.errors %}
                          {% for error in form.course_name.errors %}
                            <span class="red-text error">{{ error }}</span>
                          {% endfor %}
                        {% endif %}
                      {{ form.course_name.label }}
                    </div>
                  </div>
                  <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                    <div class="input-field mb-2">
                      {{ form.duration(class="validate") }}
                        {% if form.duration.errors %}
                          {% for error in form.duration.errors %}
                            <span class="red-text error">{{ error }}</span>
                          {% endfor %}
                        {% endif %}
                    {{ form.duration.label }}
                    </div>
                  </div>
                  <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                    <div class="input-field mb-2">
                      {{ form.course_fee(class="validate") }}
                        {% if form.course_fee.errors %}
                          {% for error in form.course_fee.errors %}
                            <span class="red-text error">{{ error }}</span>
                          {% endfor %}
                        {% endif %}
                    {{ form.course_fee.label }}
                    </div>
                  </div>
                  <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                    <div class="input-field mb-2">
                      {{ form.coursetype(class="validate") }}
                        {% if form.coursetype.errors %}
                          {% for error in form.coursetype.errors %}
                            <span class="red-text error">{{ error }}</span>
                          {% endfor %}
                        {% endif %}
                    {{ form.coursetype.label }}
                    </div>
                  </div>
                  <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                    <div class="input-field mb-2">
                      {{ form.eligiblity(class="validate") }}
                        {% if form.eligiblity.errors %}
                          {% for error in form.eligiblity.errors %}
                            <span class="red-text error">{{ error }}</span>
                          {% endfor %}
                        {% endif %}
                    {{ form.eligiblity.label }}
                    </div>
                  </div>
                  <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                    <div class="input-field mb-2">
                      <select id="university" name="university">
                        <option value="" disabled selected>Choose your option</option>
                        {% for u in unv %}
                        <option value="{{u.id}}">{{u.universityname}}</option>
                        {% endfor %}
                      </select>
                      <label>Select University</label>
                    </div>
                  </div>
                  <div class="col s12">
                    <div class="input-field file-field mb-2">
                      <div class="btn primary-gr">
                        <span>Photo</span>
                        {{form.photo(accept_="image/x-png,image/gif,image/jpeg")}}
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                      {% if form.photo.errors %}
                        {% for error in form.photo.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="col s12">
                    <div class="input-field mb-2">
                      {{ form.description(class="validate") }}
                        {% if form.description.errors %}
                          {% for error in form.description.errors %}
                            <span class="red-text error">{{ error }}</span>
                          {% endfor %}
                        {% endif %}
                    {{ form.description.label }}
                    </div>
                  </div>
                  <div class="col s12">
                    <button
                      type="submit"
                      class="center-align waves-effect waves-light btn-large primary-gr"
                    >
                      <i class="material-icons right">check</i>ADD
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
</div>
