{% extends "layout.html" %}
{% block content %}
<div class="input-field mb-2">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6 xl6 push-m3 push-l3 push-xl3">
        <div class="center valign-wrapper">
          <div class="card-panel login-frm">
            <h4 class="center-align mb-3 title">Add   University</h4>
            <form class="center-align" method="POST" enctype="multipart/form-data" novalidate  autocomplete="off">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col s12">
                  <div class="input-field mb-2">
                    {{ form.universityname(class="validate") }}
                      {% if form.universityname.errors %}
                        {% for error in form. universityname.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                    {{ form. universityname.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{ form.email(class="validate") }}
                      {% if form.email.errors %}
                        {% for error in form.email.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                    {{ form.email.label }}
                    </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{ form.phone(class="validate") }}
                      {% if form.phone.errors %}
                        {% for error in form.phone.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                    {{ form.phone.label }}
                    </div>
                </div>
                <div class="col s12">
                  <div class="input-field mb-2">
                    {{ form.address1(class="validate") }}
                      {% if form. address1.errors %}
                        {% for error in form. address1.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                  {{ form. address1.label }}
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field mb-2">
                    {{ form.address2(class="validate") }}
                      {% if form. address2.errors %}
                        {% for error in form. address2.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                  {{ form. address2.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{ form. country(class="validate") }}
                      {% if form.  country.errors %}
                        {% for error in form. country.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                  {{ form. country.label }}
                    </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{ form.state(class="validate") }}
                      {% if form. state.errors %}
                        {% for error in form. state.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                  {{ form. state.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{ form.district(class="validate") }}
                      {% if form. district.errors %}
                        {% for error in form. district.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                  {{ form. district.label }}
                  </div>
                </div>
                <div class="col s12 m10 l8 xl6 push-l2 push-m1">
                  <div class="input-field mb-2">
                    {{ form.pincode(class="validate") }}
                      {% if form.pincode.errors %}
                        {% for error in form.pincode.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                  {{ form.pincode.label }}
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field file-field mb-2">
                    <div class="btn primary-gr">
                      <span>Photo</span>
                      {{form.photo(accept_="image/x-png,image/gif,image/jpeg")}}
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                    {% if form.photo.errors %}
                      {% for error in form.photo.errors %}
                        <span class="red-text error">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field mb-2">
                    {{ form.description(class="validate materialize-textarea") }}
                      {% if form. description.errors %}
                        {% for error in form. description.errors %}
                          <span class="red-text error">{{ error }}</span>
                        {% endfor %}
                      {% endif %}
                  {{ form. description.label }}
                  </div>
                </div>
                <div class="col s12">
                  <button
                    type="submit"
                    class="center-align waves-effect waves-light btn-large primary-gr"
                  >
                    <i class="material-icons right">check</i>ADD
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}