{% extends "/admin/layout.html" %}
{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" href="{{ url_for('admin') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div style="margin:10px; text-align: center">
                        <a href="{{url_for('addCourse')}}" style="width: 100%;" type="button" class="btn btn-primary">Add Course</a>
                    </div>
                    <div style="margin:10px; text-align: center">
                        <a href="{{url_for('addUniversities')}}" style="width: 100%;" type="button" class="btn btn-success">Add University</a>
                    </div>
                    <div class="sb-sidenav-menu-heading">Manage</div>
                    <a class="nav-link" href="{{url_for('adminCourses')}}">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-right"></i></div>
                        Courses
                    </a>
                    <a class="nav-link" href="{{url_for('adminUniversities')}}">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-right"></i></div>
                        Universities
                    </a>
                    <a class="nav-link" href="{{url_for('adminInstructors')}}">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-right"></i></div>
                        Instructors
                    </a>
                    <a class="nav-link" href="{{url_for('adminStudents')}}">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-right"></i></div>
                        Students
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Admin
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Admin Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Courses
                        <span style="float: right;"><a class="btn btn-primary" href="{{url_for('adminCourses')}}">View all</a></span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style="text-align: center;" class="table table-bordered" id="dataTable" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Course name</th>
                                        <th>University</th>
                                        <th>Duration</th>
                                        <th>Fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in course %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{c.courseName}}</td>
                                        <td>{{c.univ.universityname}}</td>
                                        <td>{{c.duration}}</td>
                                        <td>{{c.courseFee}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        University
                        <span style="float: right;"><a class="btn btn-primary" href="{{url_for('adminUniversities')}}">View all</a></span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style="text-align: center;" class="table table-bordered" id="dataTable" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>University name</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>District</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in university %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{u.universityname}}</td>
                                        <td>{{u.country}}</td>
                                        <td>{{u.state}}</td>
                                        <td>{{u.district}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Instructor
                        <span style="float: right;"><a class="btn btn-primary" href="{{url_for('adminInstructors')}}">View all</a></span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style="text-align: center;" class="table table-bordered" id="dataTable" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Instructor name</th>
                                        <th>Date of birth</th>
                                        <th>Gender</th>
                                        <th>Qualifications</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in instructor %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{i.firstName}} {{i.lastName}}</td>
                                        <td>{{i.dateofBirth}}</td>
                                        <td>{{i.gender}}</td>
                                        <td>{{i.qualification}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                       Student
                        <span style="float: right;"><a class="btn btn-primary" href="{{url_for('adminStudents')}}">View all</a></span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style="text-align: center;" class="table table-bordered" id="dataTable" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Student name</th>
                                        <th>Gender</th>
                                        <th>Date of birth</th>
                                        <th>Qualifications</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in student %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{s.firstName}} {{s.lastName}}</td>
                                        <td>{{s.gender}}</td>
                                        <td>{{s.dateofBirth}}</td>
                                        <td>{{s.qualification}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include '/admin/footer.html' %}
    </div>
</div>
{% endblock %}