{% extends "/admin/layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6 xl4 push-m3 push-l3 push-xl4">
        <div class="center valign-wrapper">
          <div class="card-panel login-frm">
            <h4 class="center-align mb-3 title">
              Admin Login
            </h4>
            <form class="center-align" method="POST" novalidate>
              {{ form.hidden_tag() }}
              <div class="input-field mb-2">
                {{ form.username(class="validate") }}
                {% if form.username.errors %}
                  {% for error in form.username.errors %}
                    <span class="red-text error">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                {{ form.username.label }}
              </div>
              <div class="input-field mb-2">
                {{ form.password(class="validate") }}
                {% if form.password.errors %}
                  {% for error in form.password.errors %}
                    <span class="red-text error">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                {{ form.password.label }}
              </div>
              <div class="row">
                <div class="col s6">
                  <p class="mb-2">
                    <label>
                      {{ form.rememberMe(class="filled-in") }}
                      <span>{{ form.rememberMe.label }}</span>
                    </label>
                  </p>
                </div>
                <div class="col s6">
                  <p class="mb-2">
                    <a href="#">Forgot Password ?</a>
                  </p>
                </div>
              </div>
              <button type="submit" class="waves-effect waves-light btn-large primary-gr">
                <i class="material-icons right">check</i>login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}